@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-: theme(colors.black);
  --background-: theme(colors.white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme(colors.white);
    --background: theme(colors.black);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}
