@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme(colors.black);
  --background: theme(colors.white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme(colors.white);
    --background: theme(colors.black);
  }
}

body,
select {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}

h1,
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
}

label {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25;
}

p {
  font-size: 1rem;
}

.loader path {
  stroke: var(--foreground);
}

/* Slider */
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;

  width: 25rem;
  overflow: hidden;
  height: 0.75rem;
  margin-top: auto;
  margin-bottom: auto;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #bdbdbd;
  /* border-radius: 0.75rem; */
  height: 0.75rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  /* background-color: #da4167; */
  background-color: var(--foreground);
  /* border-radius: 1rem; */
  height: 1.5rem;
  width: 1.5rem;

  box-shadow: -100000rem 0 0 100000rem #da4167;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--background);
  /* outline-offset: 0.125rem; */
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #bdbdbd;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #da4167;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #da4167;
  outline-offset: 0.125rem;
}
