@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-: theme(colors.black);
  --background-: theme(colors.white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme(colors.white);
    --background: theme(colors.black);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}

h1, h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
}

label {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25;
}

p {
  font-size: 1rem;
}
